#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    width: 90svw;
}

.square {
    border: 1px solid black;
    width: 5svh;
    aspect-ratio: 1 / 1;
}